.heptagon {
    -webkit-clip-path: polygon(26% 10%, 63% 34%, 100% 13%, 110% 110%, 0 100%, 0 38%);
    clip-path: polygon(26% 10%, 63% 34%, 100% 13%, 110% 110%, 0 100%, 0 38%);
    height: 100px;
}

.height900 {
    height: 900px;
}

body{
    margin-top:20px;
    background:#eee;
}
